VITE_PUBLIC_WEBSITE_SLUG=zora-products
VITE_PUBLIC_WEBSITE_ID=2
VITE_PUBLIC_API_BASE_URL=/api/v1/public
VITE_BLOG_API_URL=https://blogbackend-up98j.ondigitalocean.app/api/v1
VITE_ENQUIRY_WEBSITE_SLUG=zora-products
VITE_ENQUIRY_WEBSITE_ID=2
VITE_ENABLE_BLOG_MOCKS=false
